OVR Relay application/Connected Services/OVRCServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OVRCardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/OVRCService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOVRCardService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IOVRCardService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IOVRCardService_PostCard_InputMessage">
    <wsdl:part name="parameters" element="tns:PostCard" />
  </wsdl:message>
  <wsdl:message name="IOVRCardService_PostCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostCardResponse" />
  </wsdl:message>
  <wsdl:message name="IOVRCardService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IOVRCardService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:portType name="IOVRCardService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IOVRCardService/Connect" message="tns:IOVRCardService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOVRCardService/ConnectResponse" message="tns:IOVRCardService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IOVRCardService/PostCard" message="tns:IOVRCardService_PostCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOVRCardService/PostCardResponse" message="tns:IOVRCardService_PostCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IOVRCardService/Disconnect" message="tns:IOVRCardService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOVRCardService/DisconnectResponse" message="tns:IOVRCardService_Disconnect_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOVRCardService" type="tns:IOVRCardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connect">
      <soap:operation soapAction="http://tempuri.org/IOVRCardService/Connect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCard">
      <soap:operation soapAction="http://tempuri.org/IOVRCardService/PostCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap:operation soapAction="http://tempuri.org/IOVRCardService/Disconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OVRCardService">
    <wsdl:port name="BasicHttpBinding_IOVRCardService" binding="tns:BasicHttpBinding_IOVRCardService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/OVRCService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>